/*Reset y atributos para todas las paginas*/

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: map-get($colores, "blanco");
}

h1 {
    color: map-get($colores, "dorado");
}

li {
    transition: background 3s;
}

li:hover {
    color: map-get($colores, "dorado");
}