.grilla__suscribite {
    display: grid;
    grid-template-areas: "sucripcion3" "pie4";
    grid-template-columns: 1fr;
    grid-template-rows: 90% 10%;
}

.suscripciones {
    grid-area: sucripcion3;
}

.suscripcion {
    &__titulo {
        color: map-get($colores, "destacado");
        font-family: 'Kodchasan', sans-serif;
    }
    &__sectionf {
        color: map-get($colores, "dorado");
        padding: 2rem 30%;
        font-family: 'Poller One', cursive;
        text-align: center;
        display: flex;
        flex-direction: column;
        height: 40rem;
    }
    &__boton {
        padding: 1.2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        border-radius: 10%;
        color: map-get($colores, "cont");
        background-color: map-get($colores, "dorado");
        border: solid 0.5rem map-get($colores, "boton");
        transition: padding 3s;
        &:hover {
            padding: 2rem;
        }
    }
    &__aviso {
        color: map-get($colores, "destacado");
    }
}

.pie__supcripcion {
    grid-area: pie4;
}